@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

#section1 {
    background: url(../img/background.jpeg);
    background-size: cover;
}

.info {
    width: 100%;
    height: 100%;
    position: relative;
}

.circlewrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.circle {
    width: 900px;
    height: 900px;
    position: relative;
    overflow: hidden;
    border: 7px solid rgb(1, 1, 27);
    border-radius: 100%;
    background: linear-gradient(#3c5aff, #52f2fd);
    transform: translate3d(0, 0, 0);
}

.wave-one {
    width: 1400px;
    height: 1400px;
    position: absolute;
    top: -65%;
    left: -30%;
    border-radius: 45%;
    background: rgba(3, 169, 244, 0.8);
    animation: move 3s infinite linear;
}

.wave-two {
    width: 1450px;
    height: 1450px;
    position: absolute;
    top: -90%;
    left: -30%;
    border-radius: 45%;
    background: rgba(34, 79, 242, 0.8);
    animation: move 5s infinite linear;
}

.wave-three {
    width: 1350px;
    height: 1350px;
    position: absolute;
    top: -100%;
    left: -30%;
    border-radius: 45%;
    background: #1d074b;
    border: 6px solid rgba(131, 119, 152, 0.7);
    animation: move 7s infinite linear;
}

.wave-four {
    width: 1450px;
    height: 1450px;
    position: absolute;
    top: -100%;
    left: -30%;
    border-radius: 46%;
    background: linear-gradient(rgba(252, 251, 232, 0.1) 10%, transparent);
    animation: move 7s infinite linear;
}

@keyframes move {
    100% {
        transform: rotate(360deg);
    }
}


/* moon css & animation */
.fa-moon {
    position: absolute;
    top: 19%;
    left: 33%;
    font-size: 200px;
    color: #fff;
    animation: moon-rotation 4s infinite linear;
}

.blur {
    filter: blur(10px);
    -webkit-filter: blur(10px);
}

@keyframes moon-rotation {

    0%,
    100% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-20deg);
    }
}



/* star css & animation */
.fa-asterisk {
    position: absolute;
    font-size: 13px;
}

.star1 {
    top: 110px;
    left: 210px;
    animation: star-one 1.2s infinite;
    color: #fff;
}

.star2 {
    top: 50px;
    right: 260px;
    animation: star-two 1.7s infinite;
    color: #fff;
}

.star3 {
    top: 210px;
    left: 145px;
    animation: star-three 1.5s infinite;
    color: #fff;
}

.star4 {
    top: 160px;
    right: 400px;
    font-size: 5px;
    animation: star-five 1.9s infinite;
    color: #fff;
}

.star5 {
    top: 250px;
    right: 190px;
    font-size: 5px;
    animation: star-five 2s infinite;
    color: #fff;
}


@keyframes star-one {

    0%,
    100% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes star-two {

    0%,
    100% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes star-three {

    0%,
    100% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes star-four {

    0%,
    100% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes star-five {

    0%,
    100% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }
}


/* ===== about ===== */

.about {
    width: 700px;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translateX(-50%);
    font-family: 'Orbit', sans-serif;
    color: #fff;
}

.about p {
    text-align: center;
    font-size: 28px;
}

.about p>span {
    font-size: 34px;
    color: #fff;
    font-weight: bold;
}

.typing {
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 1.8rem;
}

.text {
    font-size: 3.2rem;
    margin-left: .6rem;
    margin-right: .6rem;
}

.text::after {
    content: '';
    margin-left: .4rem;
    border-right: 2px solid #777;
    animation: cursor .9s infinite steps(2);
}

@keyframes cursor {
    from {
        border-right: 2px solid #222;
    }

    to {
        border-right: 2px solid #777;
    }
}




/* === section2 === */

#section2 {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: hidden;
    display: flex;
}

#section2 .profile {
    width: 100%;
    height: 100%;
}


#section2 .profile h1 {
    position: absolute;
    right: 100px;
    bottom: 50px;
    font-size: 15rem;
    font-weight: bold;
    font-style: italic;
    opacity: .7;
    text-shadow: 5px 5px 0px rgb(255, 255, 255);
}

#section2 .profile .Myimg {
    display: flex;
    width: 900px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#section2 .profile .Myimg .my {
    width: 300px;
}

#section2 .profile .Myimg .my img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    box-shadow: 5px 5px 5px 3px #000;
}

#section2 .profile .Myimg .myText {
    width: 600px;
    box-sizing: border-box;
    position: relative;
    padding-left: 50px;
}

#section2 .profile .Myimg>.myText>h2 {
    color: #fff;
    font-family: "Pretendard-Regular";
    font-weight: 100;
    font-size: 24px;
    line-height: 30px;
    text-align: left;
    margin-top: 20px;
}

#section2 .profile .Myimg>.myText>h3 {
    color: #fff;
    font-family: "Pretendard-Regular";
    font-size: 26px;
    color: #ce9178;
    margin-top: 30px;
    font-weight: bold;
}

#section2 .profile .Myimg>.myText>p {
    font-size: 19px;
    color: #fff;
    font-family: "Pretendard-Regular";
    margin: 10px 0;
    line-height: 24px;
}

/* === section3 === */


.backSky {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: linear-gradient(to right, #111, #0e0f19);
    overflow: hidden;
}

/* 별을 감싼 부모 */
.sky {
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: moveStar 240s linear infinite;
}

/* 별 */
.sky .star {
    fill: #fff;
    stroke: none;
    stroke-width: 0;
}

/* 별 이동효과 */
@keyframes moveStar {
    from {
        transform: translate(-50%, -50%) rotate(0);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}



/* === section3 === */

#section3 .slide {
    position: relative;
}

#section3 .content_box {
    width: 1400px;
    height: 600px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    box-shadow: 10px 10px 10px #000;
    padding: 50px;
    box-sizing: border-box;
}

#section3 .content_box .web_preview {
    width: 45%;
    height: 500px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#section3 .content_box .web_preview img {
    width: 100%;
    height: 100%;
}

#section3 .content_box .web_text {
    width: 43%;
    height: 80%;
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
}

#section3 .content_box .web_text h1 {
    font-family: 'Pretendard-Regular';
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}

#section3 .content_box .web_text span {
    display: block;
    margin-bottom: 30px;
    text-align: center;
}

button{background: 0 none; border: 0 none;}

.buttons {
    position: relative;
    text-align: center;
    margin-top:100px;
}

.buttons button {
    overflow: hidden;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 80px;
    line-height: 80px;
    border: 1px solid #225ea7;
    transition: all 0.5s;
    border-radius: 25px;
    cursor: pointer;
}

.buttons button:hover {
    color: #225ea7;
}

.buttons button:before {
    content: "";
    z-index: -1;
    position: absolute;
    background: #c7dbf4;
    transition: all 1s;
}

.buttons .buttonBG:before {
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
}

.buttons .buttonBG:hover:before {
    width: 200%;
}